@charset "UTF-8";

/* 回答はここに書いてね */
.float-left {
  float: left;
  width: 205px;
  margin-left: 50px;
}

.float-left:first-child {
  margin-left: 0px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
                      /* テーブルでの横並び */
.q7box-parent {
  width: 500px;
  display: table;
}

.q7box {
  width: 225px;
  padding-left:  50px;
  display: table-cell;
  vertical-align: middle;
}

.q7box:first-child {
  padding-left: 0px;
}
                      /* インラインブロックでの横並び */
.inline-parent {
 font-size: 0;
}

.q7-inline-box {
  display: inline-block;
  width: 205px;
  margin-left: 50px;
  /* margin-right: -0.6px; */
  vertical-align: middle;
  font-size: 16px;
}

.q7-inline-box:first-child {
  margin-left: 0px;
}

                          /* フレックスでの横並び */
.q7-flex-parent {
  display: flex;
  justify-content: space-around;
}

.q7-flex {
  width: 205px;
  align-self: flex-end;
}

.inline-margin-parent {
  font-size: 0px;
}

.inline-margin-left {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  width: 300px;
  vertical-align: top;
}

.inline-margin-right {
  padding-left: 350px;
  display: inline-block;
  margin-left: -300px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}


