@charset "UTF-8";

/* 回答はここに書いてね */
.main-wrapper {
  background-color: #ecf1f2;
  padding: 20px;
}

.main-box {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.main-box:first-child {
  margin-top: 0px;
}

.text {
  text-align: center;
}

.div-style {
  padding: 20px;
  display: table-cell;
} 

.daidai {
  background-color: #fdc8b8;
  width: 100px ;
}

.pink{
  background-color: #e0abd9;
}

.skyblue{
  background-color: #b6d8ed;
  width: 100px;
}

.yellow{
  background-color: #e5d32e;
}

.momo{
  background-color: #ec8f9a;
}

.green{
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
