@charset "UTF-8";

/* 回答はここに書いてね */
.menu {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

/* データ部分のサイズを指定 */
.menu td {
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #dedede;
  padding: 10px;
}

/* 日付の列・行を青くする、文字サイズ・幅を指定 */
.menu th {
  background: #2244aa;
  color: white;
  font-size: 18px ;
  line-height: 26px;
}

.menu th {
  border: 1px solid #dedede;
  padding: 10px;
  
}

.menu tr:nth-child(2n) {
  background-color: #ecf1f2;
}

.menu tbody tr:last-child {
  border-top: 2px #000 dashed;
}

/* 回答はここに書いてね */
