@charset "UTF-8";

/* 回答はここに書いてね */
.transition {
  height: 333px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.q8wrapper {  
  position: relative;
}

.q8wrapper:hover >.carpeg {
  transform: scale(1.5);
}


.black-cover {
  transition: 0.5s;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,0));
  bottom: -100%;
  left: 0;
}

.q8wrapper:hover >.black-cover {
  position: absolute;
  bottom: 0;
  left: 0;
}

.commentary {
  position: absolute;
  padding: 20px;
  line-height: 16px;
  font-size: 16px;
  bottom: 0;
  color: white;
  word-break: break-all;
}

.carpeg {
  transition: 0.5s;
}


.main-circle {
  border-radius: 50%;
  border: solid #ecf1f2 10px;
  border-top: solid #00bcd4 10px;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  animation: rotation 1.1s linear infinite;
  /* animation: rotation;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}
@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* 
.main-circle {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ecf1f2;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.blue-part {
  height: 100px;
  width: 100px;
  background-color: #00bcd4;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform-origin: 0% 0%;
  animation-name: rotation;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.in-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  z-index: 3;
} */


/*  */
/* 回答はここに書いてね */
